{% extends 'base.html.twig' %}

{% block title %}Joboffers{% endblock %}

{% block body %}
    <h1>Joboffers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ joboffer.id }}</td>
            </tr>
            <tr>
                <th>Référence</th>
                <td>{{ joboffer.référence }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ joboffer.description }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ joboffer.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ joboffer.notes }}</td>
            </tr>
            <tr>
                <th>Jobtitle</th>
                <td>{{ joboffer.jobtitle }}</td>
            </tr>
            <tr>
                <th>Jobtype</th>
                <td>{{ joboffer.jobtype }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ joboffer.location }}</td>
            </tr>
            <tr>
                <th>Closingdate</th>
                <td>{{ joboffer.closingdate ? joboffer.closingdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ joboffer.salary }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ joboffer.datecreated ? joboffer.datecreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Dateupdated</th>
                <td>{{ joboffer.dateupdated ? joboffer.dateupdated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Datedeleted</th>
                <td>{{ joboffer.datedeleted ? joboffer.datedeleted|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('joboffers_index') }}">back to list</a>

    <a href="{{ path('joboffers_edit', {'id': joboffer.id}) }}">edit</a>

    {{ include('joboffers/_delete_form.html.twig') }}
{% endblock %}
